.navbar {
  display: flex;
  background-color: #f85f8d;
  border: 1px solid rgb(214, 2, 90);
  justify-content: space-between;
  padding-top: 20px;
  height: 40px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
  color: #fff;
}

.date {
  margin: 0 40px 0 0;
  color: #fff;
  font-weight: bold;
}

.header-text {
  margin: 3px 0 0 100px;
  color: #fff;
}

.arrow {
  margin-top: 3px;
  color: #fff;
}

.icons-mic {
  margin: 0 20px;
}
